.date{
    display: grid;
    grid-template-columns: 20px 3fr 0.5fr 75px;
    grid-template-areas: 
    "circle-lock date-information yelp-container side-level"
}

.date-information {
    grid-area: date-information;
}

.yelp-container {
    grid-area: yelp-container;
}

.date-desktop {
    display: flex;
    overflow-y: hidden;
}

.side-nav {
    background-color: $primary-color;
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icons-box {
    display: flex;
    align-items: center;
}

.logo-side {
    height: 145px;
}

.place-name {
    font-family: $main-font;
    font-weight: bold;
    color: #000000;
    font-size: 30px;
    margin: 16px 11px 16px 11px;
}

.save-button {
    @include fourthBtn;
    width: 90%;
    margin-top: 100px;
}

.date {
    border: solid 10px $bg-color;
    height: 29vh;
    width: 73vw;
    margin-top: 1%;
    border-left: transparent;
}

.results-text {
    font-family: $main-font;
    font-weight: bold;
    color: #000000;
    font-size: 15px;
    margin: 15px;
}

.results-response {
    color: $link-color;  
    font-family: $main-font;
    font-size: 13px;
}

.category {
    display: flex;
    
    align-items: center;
    width: 350px;
    margin-left: 50px;
    border-radius: 5px;
}

.second-top-level, .middle-level, .first-bottom-level, .yelp-container{
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.second-top-level {
    margin-top: auto;
}

.yelp-desktop {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.circle-lock {
    @include flexSetUp;
    border-radius: 50%;
    height: 75px;
    width: 75px; 
    background-color: $secondary-color;
    z-index: 10;
    display: flex;
    justify-content: center;
    grid-area: circle-lock;
    margin-left: -36px;
}


.side-level {
    color: $primary-color;
    font-family: $main-font;
    font-size: 18px;
}

.ratings {
    @include flexSetUp;
}

.rating-num {
    margin-top: 3px;
    margin-right: 8px;
}

.price {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-left: 20px;
}

.date {
    align-items: center;
}

.side-btn-text {
    font-family: $main-font;
    color: $white;
    font-size: 18px;
    margin: 20px;
}

.lock {
    position: relative;
    top: 9px;
    left: 17px;
    margin: auto;
    width: 25px;
}

.lockbar {
    margin: auto;
    position: relative;
    right: 20px;
    top: -6px;
    width: 22px;
    transition: 0.4s ease-in-out;
  }

#unlocked {
    right: 1px;
    top: -7px;
    transform: scaleX(-1);
    transition: 0.4s ease-in-out;
}

.big-locked{
    display: flex;
    
    align-items: center;
    width: 350px;
    margin-left: 50px;
    border-radius: 5px;
}

.little-lock{
    @include flexSetUp;
    border-radius: 50%;
    height: 30px;
    width: 30px; 
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.lock2 {
    position: relative;
    top: 2px;
    left: 9px;
    margin: auto;
    width: 13px;
}

.lockbar2 {
    margin: auto;
    position: relative;
    right: 6px;
    top: -5px;
    width: 11px;
    transition: 0.4s ease-in-out;
  }
  #unlocked2 {
    right: -3px;
    top: -6px;
    transform: scaleX(-1);
    transition: 0.4s ease-in-out;
}