/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* modules */
/* media query breakpoints */
/* media query */
/* by default, will apply styling to provider $width and larger */
/* encourages mobile first design */
/* page layout */
#root {
  position: relative;
  background-color: #FFF; }

ellipse {
  margin-top: -425px; }

.landing {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "first-photo"  "header-bar" "text-wrapper" "icon-box" "btn-container" "featured" "logo_lines" "img-wrapper" "form-desktop"; }

.first-bg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  grid-area: first-photo;
  background-image: url("../assets/Mobile_Ocean.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.first-bg, .logo {
  height: auto;
  width: 100%; }

.logo {
  width: 80%;
  margin-top: -150px;
  grid-area: logo; }

.arrow-down-nav {
  display: none; }

.header-bar {
  margin-top: -5px;
  height: 50px;
  background-color: #e57455;
  grid-area: header-bar; }

.text-wrapper {
  grid-area: text-wrapper; }

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 56px;
  margin: 15px; }

h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 18px; }

h3 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 26px;
  margin: 15px; }

h5 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 40px;
  display: flex; }

.smaller-header {
  font-size: 40px; }

.icon-box {
  background-color: #e5e5e5;
  text-align: center;
  padding-bottom: 30px;
  grid-area: icon-box; }

.icon-clipboard {
  width: 80%;
  grid-area: icon-clipboard; }

.icon-shuffle {
  width: 80%;
  grid-area: icon-shuffle; }

.icon-calendar {
  width: 80%;
  grid-area: icon-calendar; }

.btn-container {
  text-align: center;
  margin: 20px;
  grid-area: btn-container; }

.main-btn {
  background-color: #03a9f4;
  width: 300px;
  height: 100px;
  color: #ffffff;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2); }

.main-btn:hover, .create-btn:hover {
  background-color: #2a2c3b; }

.second-btn {
  border: 5px solid #03a9f4;
  background-color: #ffffff;
  width: 300px;
  height: 100px;
  color: #03a9f4;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2); }

.second-btn:hover {
  background-color: #03a9f4;
  color: #ffffff; }

.featured {
  border: 20px solid #2a2c3b;
  grid-area: featured;
  overflow: scroll; }

.featured-carosel {
  height: 400px; }

.logo-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo-lines; }

.line {
  width: 42%;
  height: 2px;
  background-color: #e57455; }

.img-wrapper {
  grid-area: img-wrapper; }

.second-bg {
  width: 100vw; }

.photo-caption {
  display: none; }

.gray-text {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #e5e5e5;
  font-size: 18px;
  font-weight: bold;
  margin: 10px; }

.date-form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  grid-area: date-form; }

.hide {
  display: none; }

.form-desktop {
  grid-area: form-desktop; }

.text-wrapper-form {
  grid-area: text-wrapper-form; }

.replace-photo {
  display: none; }

.numbers-nav {
  display: none; }

@media screen and (min-width: 875px) {
  .landing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first-photo   first-photo   first-photo" "header-bar    header-bar    featured" "text-wrapper  text-wrapper  featured" "icon-box      icon-box      featured" "btn-container btn-container featured" "form-desktop  form-desktop  form-desktop"; }
  .form-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "date-form date-form logo-lines logo-lines" "date-form date-form img-wrapper img-wrapper"; }
  .date-form {
    margin: 20px; }
  .first-bg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    grid-area: first-photo;
    background-image: url("../assets/Ocean.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column; }
  .logo {
    width: 45%;
    margin-top: 20px;
    margin: 120px; }
  .arrow-down-nav {
    display: block; }
  .header-bar {
    height: 50%; }
  h1 {
    margin-left: 75px;
    margin-bottom: 50px; }
  h2 {
    font-size: 90%; }
  .icon-box {
    margin-left: 75px;
    height: 90%;
    padding-top: 10px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "icon-clipboard icon-shuffle icon-calendar" "icon-text-clipboard icon-text-shuffle icon-text-calendar"; }
  .btn-container {
    text-align: left;
    margin: 65px;
    display: flex; }
  .second-btn {
    margin-left: 50px; }
  .featured {
    border: 25px solid #2a2c3b;
    height: 90vh; }
  .img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .logo-lines {
    margin: 10px; }
  .line {
    width: 36%;
    margin: 10px; }
  .second-bg {
    display: none; }
  .replace-photo {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    grid-area: replace-photo; }
  .photo-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    color: #000000;
    font-size: 23px;
    margin: 25px;
    letter-spacing: 2px; }
  .subtitle-short {
    grid-area: subtitle-short; }
  .subtitle-medium {
    grid-area: subtitle-medium; }
  .subtitle-long {
    grid-area: subtitle-long; }
  .btn-short {
    grid-area: btn-short;
    height: 100%;
    width: 75%;
    margin: 10px;
    font-size: 90%; }
  .btn-medium {
    grid-area: btn-medium;
    height: 100%;
    width: 75%;
    margin: 10px;
    font-size: 90%; }
  .btn-long {
    grid-area: btn-long;
    height: 100%;
    width: 75%;
    margin: 10px;
    font-size: 90%; }
  .btn-length {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "subtitle-short subtitle-medium subtitle-long" "btn-short      btn-medium     btn-long"; }
  .form-desktop {
    background-color: #ffffff;
    border: 50px solid #e5e5e5; }
  .create-btn {
    width: 100%; }
  .gray-text {
    font-size: 90%; }
  .form-title {
    display: none; }
  .date-form {
    margin: 20px;
    display: block; } }

#isBlue {
  color: #ffffff;
  background-color: #03a9f4; }

.mobile-header {
  background-color: #e57455;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: sticky;
  top: 0px;
  z-index: 10; }

.top-level, .mid-level {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 15px 15px 0px; }

.date-card {
  border: solid 10px #e5e5e5;
  background-color: #FFF; }

.rating-number {
  color: #e57455;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 8px;
  margin-top: 4px;
  font-size: 18px; }

.price-level {
  color: #e57455;
  font-family: Helvetica, sans-serif;
  margin-right: 8px;
  margin-top: 4px;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  margin: 15px; }

.ratings-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px; }

.start-box {
  text-align: center;
  color: #03a9f4;
  font-family: Helvetica, sans-serif; }

.yelp-img {
  border-radius: 50%;
  height: 125px;
  width: 125px; }

.location-text {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 24px;
  margin: 15px; }

.gray-line {
  margin: auto;
  height: 5px;
  width: 175px;
  background-color: #e5e5e5; }

.expandable-container {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #03a9f4;
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer; }

.expanded {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #000000;
  margin: 27px; }

.closed {
  display: none; }

.see-more, .data-response, .type-response {
  color: #03a9f4; }

.see-more {
  margin-top: 10px;
  cursor: pointer; }

.lock-type {
  display: flex;
  border: 1.5px solid #000000;
  align-items: center;
  height: 40px;
  cursor: pointer; }

.type {
  margin-left: 25px; }

.type-response {
  margin-left: 5px;
  width: 170px; }

.locked-category {
  display: flex;
  border: 1.5px solid #000000;
  align-items: center;
  height: 40px;
  cursor: pointer;
  background: #e5e5e5; }
  .locked-category .type-response {
    color: #000;
    font-weight: bold; }

.data {
  margin-top: 20px;
  margin-bottom: 20px; }

.second-address, .second-address-response {
  margin-top: -15px;
  margin-bottom: -15px; }

.data-box {
  display: flex;
  text-align: left;
  margin-left: 25px; }

.data-response {
  margin-left: 20px; }

.save-date-box {
  text-align: center;
  background-color: #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px; }

.save-date {
  background-color: #2a2c3b;
  width: 300px;
  height: 100px;
  color: #ffffff;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2); }

.edit-date {
  background-color: #2a2c3b;
  width: 215px;
  height: 75px;
  color: #ffffff;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2); }

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px; }

.share-input {
  width: 185px;
  height: 35px;
  margin: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 21px; }

.white-line {
  margin: auto;
  height: 2px;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff; }

.add-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 10px #e5e5e5;
  height: 100px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #03a9f4;
  font-size: 21px; }

.add-text {
  margin: 10px; }

.hide-arrow {
  transform: rotate(180deg); }

.big-date {
  display: none; }

.google-box {
  text-align: center;
  background-color: #ffffff;
  margin: 10px;
  border: 5px solid #e5e5e5;
  font-size: 13px; }

.google-icon {
  margin-left: 10px; }

.google-text {
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px; }

a {
  color: #2a2c3b;
  text-decoration: none; }

@media screen and (min-width: 950px) {
  .date-card, .mobile-header {
    display: none; }
  .is-small {
    display: none; }
  .big-date {
    display: block; }
  .side-nav {
    background-color: #e57455;
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .icons-box {
    display: flex;
    align-items: center; }
  .logo-side {
    height: 175px; }
  h6 {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    font-size: 28px;
    margin: 20px; }
  .save-button {
    background-color: #2a2c3b;
    width: 215px;
    height: 75px;
    color: #ffffff;
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    cursor: pointer;
    border-radius: 0px;
    margin: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    margin-top: 100px; } }

.date {
  display: grid;
  grid-template-columns: 20px 3fr 0.5fr 75px;
  grid-template-areas: "circle-lock date-information yelp-container side-level"; }

.date-information {
  grid-area: date-information; }

.yelp-container {
  grid-area: yelp-container; }

.date-desktop {
  display: flex;
  overflow-y: hidden; }

.side-nav {
  background-color: #e57455;
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.icons-box {
  display: flex;
  align-items: center; }

.logo-side {
  height: 145px; }

.place-name {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  margin: 16px 11px 16px 11px; }

.save-button {
  background-color: #2a2c3b;
  width: 215px;
  height: 75px;
  color: #ffffff;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  margin-top: 100px; }

.date {
  border: solid 10px #e5e5e5;
  height: 29vh;
  width: 73vw;
  margin-top: 1%;
  border-left: transparent; }

.yelp-title-name {
  text-align: center; }

.results-text {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 15px;
  margin: 15px; }

.results-response {
  color: #03a9f4;
  font-family: Helvetica, sans-serif;
  font-size: 13px; }

.category {
  display: flex;
  border: 2px solid #000;
  align-items: center;
  width: 300px;
  margin-left: 50px;
  cursor: pointer; }

.second-top-level, .middle-level, .first-bottom-level, .yelp-container {
  display: flex;
  align-items: center;
  margin-left: 50px; }

.second-top-level {
  margin-top: auto; }

.yelp-desktop {
  border-radius: 50%;
  height: 150px;
  width: 150px; }

.circle-lock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: #2a2c3b;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  grid-area: circle-lock;
  margin-left: -36px; }

.side-level {
  color: #e57455;
  font-family: Helvetica, sans-serif;
  font-size: 18px; }

.ratings {
  display: flex;
  justify-content: center;
  align-items: center; }

.rating-num {
  margin-top: 3px;
  margin-right: 8px; }

.price {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-left: 20px; }

.date {
  align-items: center; }

.side-btn-text {
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  font-size: 18px;
  margin: 20px; }

.shuffle-btn, .filter-btn {
  cursor: pointer; }

.logo-bulb {
  cursor: pointer; }

.lock {
  position: relative;
  top: 9px;
  left: 17px;
  margin: auto;
  width: 25px; }

.lockbar {
  margin: auto;
  position: relative;
  right: 20px;
  top: -5px;
  width: 22px;
  transition: 0.4s ease-in-out; }

#unlocked {
  right: 1px;
  top: -5px;
  transform: scaleX(-1);
  transition: 0.4s ease-in-out; }

.big-locked {
  display: flex;
  border: 2px solid #000;
  background-color: #e5e5e5;
  align-items: center;
  width: 300px;
  cursor: pointer;
  margin-left: 50px; }
  .big-locked .results-response {
    color: #000;
    font-weight: bold; }

.little-lock {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  margin-left: 10px; }

.lock2 {
  position: relative;
  top: 2px;
  left: 9px;
  margin: auto;
  width: 13px; }

.lockbar2 {
  margin: auto;
  position: relative;
  right: 6px;
  top: -5px;
  width: 11px;
  transition: 0.4s ease-in-out; }

#unlocked2 {
  right: -4px;
  top: -6px;
  transform: scaleX(-1);
  transition: 0.4s ease-in-out; }

.lock3 {
  position: relative;
  top: 2px;
  left: 9px;
  margin: auto;
  width: 35px; }

.lockbar3 {
  margin: auto;
  position: relative;
  right: 23px;
  top: -20px;
  width: 30px;
  transition: 0.4s ease-in-out; }

#unlocked3 {
  right: -3px;
  top: -20px;
  transform: scaleX(-1);
  transition: 0.4s ease-in-out; }

.lock4 {
  position: relative;
  top: 4px;
  left: 9px;
  margin: auto;
  width: 13px; }

.lockbar4 {
  margin: auto;
  position: relative;
  right: 3px;
  top: -5px;
  width: 11px;
  transition: 0.4s ease-in-out; }

#unlocked4 {
  right: -6px;
  top: -5px;
  transform: scaleX(-1);
  transition: 0.4s ease-in-out; }

#loader {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden; }

.final-summary {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 90vh;
  justify-content: center; }

.summary-card {
  border: 15px solid #e5e5e5;
  width: 30%;
  margin: 1%;
  position: relative; }

.share-summary-box {
  background-color: #e57455;
  width: 100vw;
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.summary-top {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  color: #e57455;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 30px; }

.summary-ratings {
  display: flex; }

.summary-rating-number {
  margin-top: 5px;
  margin-right: 8px; }

.middle-section {
  display: flex;
  justify-content: center;
  align-items: center; }

.yelp-summary {
  margin-top: -80px;
  margin-bottom: 20px;
  border-radius: 50%;
  width: 190px;
  height: 190px; }

.location-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 28px; }

.gray-bar {
  margin: auto;
  margin-top: 30px;
  height: 5px;
  width: 175px;
  background-color: #e5e5e5; }

.summary-data-box {
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 30px;
  font-family: Helvetica, sans-serif;
  font-size: 18px; }

.summary-text {
  font-weight: bold;
  margin-bottom: 20px; }

.summary-response {
  margin-left: 20px;
  color: #03a9f4;
  margin-bottom: 20px; }

.gray-box {
  background-color: #e5e5e5;
  font-family: Helvetica, sans-serif;
  color: #000000;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.start-text {
  font-weight: bold;
  margin-top: 20px; }

.start-response {
  margin-left: 20px;
  color: #03a9f4;
  margin-top: 20px; }

.share-desktop {
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  color: #000000;
  margin-left: 20px; }

.share-input-desktop {
  width: 20vw;
  height: 35px;
  margin-left: -10px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 21px; }

.btn-box-final {
  display: flex;
  margin-right: -20px; }

.share-link {
  margin-bottom: -10px;
  margin-left: 10px; }

.edit-share-desktop {
  background-color: #2a2c3b;
  width: 215px;
  height: 50px;
  color: #ffffff;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2); }

.logo-share-box {
  margin-right: 20px; }

#snackBar {
  opacity: 1;
  transition: 0.5s ease-in-out; }

#shnakeBar {
  opacity: 0;
  transition: 0.5s ease-in-out; }

.popup {
  padding: 20px;
  background-color: #2a2c3b;
  color: #ffffff;
  position: absolute;
  left: 41%;
  bottom: 70px;
  text-align: center; }

#tri {
  width: 20px;
  position: absolute;
  top: 56px;
  right: 0px; }

#mobileSnack {
  position: absolute;
  font-family: Helvetica, sans-serif;
  background-color: #2a2c3b;
  color: #ffffff;
  padding: 40px 0px 40px 0px;
  bottom: 250px;
  z-index: 10000;
  width: 100%;
  text-align: center;
  display: block;
  opacity: 1; }

#mobileShnake {
  position: absolute;
  opacity: 0; }

.hot-card {
  text-align: center; }

.yelp-hotandnew {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: 15px;
  margin-right: 5px; }

.featured-carosel {
  border: 15px solid #e5e5e5;
  display: flex;
  height: 100px;
  margin-bottom: -15px; }

.new-info {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 15px; }

.new-title {
  width: 100%;
  height: 60px;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  background-color: #2a2c3b;
  text-align: center;
  font-size: 21px;
  font-weight: bold; }

@media screen and (max-width: 1100px) {
  .new-info {
    font-size: 13px; } }
