/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* modules */
/* media query breakpoints */
/* media query */
/* by default, will apply styling to provider $width and larger */
/* encourages mobile first design */
/* page layout */
.first-bg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw; }

.first-bg, .logo {
  position: absolute; }

.logo {
  width: 80%;
  padding-bottom: 150px; }

.header-bar {
  margin-top: -5px;
  height: 50px;
  background-color: #e57455; }

.text-wrapper {
  display: flex;
  flex-direction: column; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #000000;
  margin: auto;
  font-size: 48px;
  display: flex; }

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 18px; }

h3 {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 26px;
  margin: 15px; }

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #000000;
  margin: auto;
  font-size: 40px;
  display: flex; }

.smaller-header {
  font-size: 40px; }

.icon-box {
  background-color: #e5e5e5;
  text-align: center;
  padding-bottom: 30px; }

.icons {
  width: 275px; }

.btn-container {
  text-align: center;
  margin: 20px; }

.main-btn {
  background-color: #03a9f4;
  width: 100%;
  height: 100px;
  color: #ffffff;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: auto;
  margin-bottom: 10px; }

.second-btn {
  border: 5px solid #03a9f4;
  background-color: #ffffff;
  width: 100%;
  height: 100px;
  color: #03a9f4;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: auto; }

.featured {
  height: 600px;
  border: 40px solid #2a2c3b; }

.logo-lines {
  display: flex;
  justify-content: center;
  align-items: center; }

.line {
  width: 100px;
  height: 2px;
  background-color: #e57455; }

.img-wrapper {
  width: 90%;
  margin: auto;
  background: grey; }

.second-bg {
  height: auto;
  width: 100%; }

.gray-text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #e5e5e5;
  font-size: 18px;
  font-weight: bold;
  margin: 10px; }

.date-form {
  margin: 20px; }

.hide {
  display: none; }

.mobile-header {
  background-color: #e57455;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: sticky;
  top: 0px; }

.top-level, .mid-level {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 15px 15px 0px; }

.date-card {
  border: solid 10px #e5e5e5; }

.rating-number {
  color: #e57455;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-right: 8px;
  margin-top: 4px;
  font-size: 18px; }

.price-level {
  color: #e57455;
  font-family: "Open Sans", sans-serif;
  margin-right: 8px;
  margin-top: 4px;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  margin: 15px; }

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center; }

.start-box {
  text-align: center;
  color: #03a9f4;
  font-family: "Open Sans", sans-serif; }

.yelp-img {
  border-radius: 50%;
  height: 125px;
  width: 125px; }

.location-text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 24px;
  margin: 15px; }

.gray-line {
  margin: auto;
  height: 5px;
  width: 175px;
  background-color: #e5e5e5; }

.expandable-container {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #03a9f4;
  margin: 15px; }

.expanded {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #000000;
  margin: 27px;
  width: 300px; }

.closed {
  display: none; }

.see-more, .data-response, .type-response {
  color: #03a9f4; }

.lock-type {
  display: flex;
  border: 1.5px solid #000000;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  cursor: pointer; }

.locked-category {
  display: flex;
  border: 1.5px solid #e57455;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  cursor: pointer; }

.data {
  margin-top: 20px;
  margin-bottom: 20px; }

.second-address, .second-address-response {
  margin-top: -15px;
  margin-bottom: -15px; }

.data-box {
  display: flex;
  text-align: left;
  margin-left: 25px; }

.data-response {
  margin-left: 20px; }

.save-date-box {
  text-align: center;
  background-color: #e5e5e5;
  padding-top: 20px;
  padding-bottom: 20px; }

.save-date {
  background-color: #2a2c3b;
  width: 300px;
  height: 100px;
  color: #ffffff;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: 10px; }

.edit-date {
  background-color: #2a2c3b;
  width: 215px;
  height: 75px;
  color: #ffffff;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  cursor: pointer;
  border-radius: 0px;
  margin: 10px; }

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px; }

.share-input {
  width: 185px;
  height: 35px;
  margin: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 21px; }

.white-line {
  margin: auto;
  height: 2px;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff; }

.add-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 10px #e5e5e5;
  height: 100px;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: #03a9f4;
  font-size: 21px; }

.add-text {
  margin: 10px; }

.expandable-arrow:hover {
  transform: rotate(180deg); }
