/* media query */
/* by default, will apply styling to provider $width and larger */
/* encourages mobile first design */
@mixin media-query($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
      $width: map_get($breakpoints, $width);
      @media only screen and (#{$type}-width: $width - 1) {
          @content;
      }
  }
}

@mixin flexSetUp($justify: center, $align: center, $direction: column) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
 }

@mixin headerSetUp {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 56px;
    margin: 15px;
}

@mixin header2SetUp {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
}

@mixin header3SetUp {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 26px;
    margin: 15px;
}

@mixin header4SetUp {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 24px;
    margin: 15px;
}


@mixin mainBtn {
    background-color: $link-color;
    width: 300px;
    height: 100px;
    color: $white;
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    cursor: pointer;
    border-radius: 0px;
    margin: 10px;
}

@mixin secondBtn {
    border: 5px solid $link-color;
    background-color: $white;
    width: 300px;
    height: 100px;
    color: $link-color;
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    cursor: pointer;
    border-radius: 0px;
    margin: 10px;
}
 