$main-font: Helvetica, sans-serif;
$primary-color: #e57455;
$secondary-color: #2a2c3b;
$link-color: #03a9f4;
$bg-color: #e5e5e5;
$white: #ffffff;

/* media query breakpoints */
$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "tablet":       768px,
  "desktop":      1248px,
  "desktop-wide": 1440px
);